.task{

    padding:20px;
    border:1px solid black;
    margin: 10px;
}

.header{
    text-align: center;
    padding: 20px;

}

.switch-wrapper {
    position: relative;
}

.switch-wrapper > div {
    position: absolute;
}